body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #004080;
  text-align: center;
  border:2px solid black;
  margin-bottom: 15px;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0066cc;
}

a {
   text-decoration: underline;
}

a:hover {
  color:purple;
  text-decoration: underline;
}

ul {
  list-style-type: square;
  padding: 0;
}
